.sidebar{
    &__container {
        border-right: 1px solid #eceff1;
        width: 100%;
        max-width: 280px;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding: 12px 20px;
    }

    &__listContainer {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 80vh;
        overflow-y: scroll;
    }

    &__listItem {
        padding: 12px 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #eceff1;
        }

        &:focus {
            background-color: #eceff1;
        }
    }

}